*{
   font-family: "Belanosima", sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    width: 1366px;
    height: 150px;
    background-color: rgb(240, 128, 176);
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
header img{
    height: 100%;

}
nav{
    width: 1366px;
    height: 50px;
    background-color: rgb(255, 231, 244);
    font-weight: bold;
    /*Acomodar elementos*/
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
    border-bottom: 10px solid rgb(218, 187, 221);
}
nav a{
    color: rgb(240, 128, 176);
    text-decoration: none;
    padding: 15px 20px; /*Ampliar area clickeable*/
    transition: .5s;
}
nav a:hover{
    background-color:  rgb(240, 128, 176);
    color: white;
    transform: scale(1.2);
}
main{
    width: 1366px;
    height: 2000px;
    background-color:white;
    margin: 0 auto;

    background-image: url(../imgs/wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.personaje{
    width: 1300px;
    height: 400px;
    background-color: white;
    margin-left: 33px;
    margin-top: 80px;
    display: inline-block;
}
.foto{
    width: 400px;
    height: 400px;
    background-color: white;
    float:left;
    margin-left: 33px;
    text-align: center;

    border-right: 10px dotted rgb(255, 231, 244);
}
.foto img{
    height: 100%;

}

.info{
    width: 800px;
    height: 400px;
    float:left;
    margin-left: 33px;
    padding: 30px;
    color: rgb(240, 128, 176);
}
.info h3{
    font-size: 1.8rem;
    margin: 20px 0px ;
}
.info a{
    color: rgb(211, 65, 128);
    text-decoration: none;
}
.info a:hover{
    color: rgb(197, 47, 211);
    transform: scale(1.2);
}
footer{
    width: 1366px;
    height: auto;
    background-color:#c95986;
    margin: 0 auto;
    color: white;
    padding: 30px;
}
footer a{
    display:block;
    padding-top: 10px;
    color:rgb(255, 240, 240);
    text-decoration: none;
    font-size: large;
}
footer a:hover{
    color:darkorchid;
    text-decoration: none;
}
footer img{
       height: 200px;;
}
footer p{
    padding-top: 30px;
}